/*******************************************************/
/*import font faces*/
@font-face{
	src: url("font/tt1161m_.ttf"); 
	font-family: tt;    
}

@font-face{
    src: url("/font/javatext.ttf");
    font-family: java;
}

@font-face{
	src: url("font/LeagueSpartan-Bold.otf"); 
	font-family: League Spartan;
}

@font-face{
    src: url("font/RostherSwashes-BWjDB.otf");
    font-family: Rosther;
}

@font-face{
    src: url("font/Musisync-KVLZ.ttf");
    font-family: music;
}

@font-face{
	src: url("font/EdgeOfTheGalaxyRegular-OVEa6.otf");
	font-family: Edge of the Galaxy;
}

@font-face{
	src: url("font/SacremendeRegular-rgrO7.ttf");
	font-family: Sacra;
}

@font-face{
	src: url("font/SlangOutfit-0WdVR.ttf");
	font-family: slang;
}

@font-face{
	src: url("font/Bronson demo.ttf");
	font-family: bronson;
}

@font-face{
    src: url("font/calibri.ttf");
    font-family: calibri;
}

body {
margin:.5em;
padding:0;
height:100%;
background-color:rgba(44,44,44,1.00);
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
background-image: url(image/background10.jpg); 
/*background-repeat: no-repeat;    */
}

.footertop{
    background-image: url(image/footertop.jpg);
    height: 300px;
}

a {
color:#cc0000;
text-decoration:underline;
}

a:hover {
color:#616161;
text-decoration:none;
}

blockquote {
margin:1em;
padding:.5em .5em .5em 85px;
background-color:#D7ECF8;
}

blockquote p {
margin:.2em;
color:#000000;
}

hr {
margin-bottom:20px;
border:none;
width:99%;
color:#eeeeee;
background-color:#eeeeee;
height:1px;
clear:both;
}

td.desc {
padding:4px;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
}

#postHeader { 	
margin:0 auto;
padding:0 .2em .3em .2em;
width:720px;
text-align:right;
vertical-align: middle;	
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
text-transform:uppercase;
}

#centerColumn { 	
margin:0 auto;
padding:1em;
width:1200px;
text-align:left;
vertical-align: middle;	
background-color:#000111;   
}

#centerColumn h2 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.1em;
}

#centerColumn h3 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:.8em;
font-weight:lighter;
letter-spacing:.1em;
}

#header {
margin:0 -1em 0 -1em;
padding:0 0 0 0;
height: 150px;
background-color:#cccccc;
border-top:1px solid #ffffff;
display: grid;
grid-template-columns: auto auto;
grid-template-areas: "#logo #companyname"
					 "#sliderbox";
}

#logo{
	height: 140px;
}

#companyname {
    font-size: 30pt;
    font-family: League Spartan;
    margin: 30px 800px 0 0;
    position:static;
    color: black;
}

/*tile styling*/
#cell_1 h2{
    position: relative;
    background: rgba(255,255,255,1);
    color: #f1f1f1;
    padding: 20px;
    width: 355px;
    height: 40px;
    padding:4px 0 10px 0;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000000;
    font-weight:bold; 
    margin-top:-50px
}

#cell_1 :hover{
	transform: scale(1.02);
    transition-duration: 1.5s;    
}

#cell_2 :hover{
	transform: scale(1.02);
    transition-duration: 1.5s;    
}

#cell_3 :hover{
	transform: scale(1.02);
    transition-duration: 1.5s;    
}

#cell_2 h2{
    position: relative;
    background: rgba(255,255,255,1);
    color: #f1f1f1;
    padding: 20px;
    width: 355px;
    height: 40px;
    padding:4px 0 10px 0;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000000;
    font-weight:bold; 
    margin-top:-50px;  
}

#cell_3 h2{
    position: relative;
    background: rgba(255,255,255,1);
    color: #f1f1f1;
    padding: 20px;
    width: 355px;
    height: 40px;
    padding:4px 0 10px 0;
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#000000;
    font-weight:bold; 
    margin-top:-50px    
}

#cell_1 {
margin:0 5px 1em 0;
padding:8px;
float:left;
width:370px;
height:320PX;
background-color:#cccccc;    
}

#cell_2 {
margin:0 14px 1em 14px;
padding:8px;
float:left;
width:370px;
height:320PX;
background-color:#cccccc;
}

#cell_3 {
margin:0 0 1em 5px;
padding:8px;
float:left;
width:370px;
height:320PX;
background-color:#cccccc;
}

#cell_1 p, #cell_2 p, #cell_3 p {
font-size:.75em;
color:#000000;
}

.barepic {
border:none;
}

#cell_about{
    margin:0 5px 1em 0;
    padding:8px;
    float:left;
    width:370px;
    height:320PX;
    background-color:#cccccc;    
}

.right {
float:right;
margin:5px;
padding:2px;
}

.left {
float:left;
margin:5px;
padding:2px;
}

.center {
width:auto;
margin-left:auto;
margin-right:auto;
}

.news em {
font-size:.8em;
color:#000000;
}

#cell_1 ul.news, #cell_2 ul.news, #cell_3 ul.news {
margin:0 0 0 5px;
padding:0 0 0 0;
list-style:none;
}

#cell_1 li.news, #cell_2 li.news, #cell_3 li.news {
margin:0 0 .3em 0;
padding:5px 0 6px 10px;
font-size:.75em;
}

#cell_1 ul, #cell_2 ul, #cell_3 ul {
margin:0 0 0 5px;
padding:0 0 0 0;
list-style:none;
}

#cell_1 li, #cell_2 li, #cell_3 li {
margin:0 0 .3em 0;
padding:5px 0 6px 5px;
font-size:.75em;
}

#box_1 {
margin:0 5px 2em 0;
padding:8px;
float:left;
width:260px;
height: 200px;		
background-color:rgba(200,200,200,0.8);
}

#box_2 {
margin:0 7px 2em 14px;
padding:8px;
float:left;
width:260px;
height: 200px;		
background-color:rgba(200,200,200,0.8);
}

#box_3 {
margin:0 14px 2em 7px;
padding:8px;
float:left;
width:280px;
height: 200px;		
background-color:rgba(200,200,200,0.8);
}

#box_4 {
margin:0 0 2em 5px;
padding:8px;
float:left;
width:280px;
height: 200px;	
background-color:rgba(200,200,200,0.8);
}

#box_1 p, #box_2 p, #box_3 p, #box_4 p {
font-size:.75em;
color:#000000;
}

#box_1 h2, #box_2 h2, #box_3 h2, #box_4 h2 {
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-size:.8em;
} 

#box_1 ul, #box_2 ul, #box_3 ul, #box_4 ul {
margin:0 0 0 5px;
padding:0 0 0 0;
list-style:none;
}

#box_1 li, #box_2 li, #box_3 li, #box_4 li {
margin:0 0 .3em 0;
padding:5px 0 0 5px;
font-size:.8em;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#stylefour{
	position:relative;
	display:block;
	height:50px;
	font-size:11px;
	font-weight:bold;
	background:transparent url(bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-top:4px solid #B30000;
	}

#stylefour ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#stylefour ul li{
	display:block;
	float:left;
	margin:0;
	}

#stylefour ul li a{
	display:block;
	float:left;
	color:#666;
	text-decoration:none;
	padding:11px 20px 0 20px;
	height:39px;
	background:transparent url(bgDIVIDER.gif) no-repeat top right;
	}

#stylefour ul li a:hover,#stylefour ul li a.current{
	color:#B30000;
	background:#fff url(bgON.gif) no-repeat top right;
    height: 35px;
	}


.cell{
	margin:0 5px 1em 0;
	padding:8px;
	float:left;
	width:1180px;
	height:270pX;
	background-color:#cccccc;
	display: grid;
	grid-template-columns: 200px 10px auto 500px;
	border-radius: 5px
}

.cell:hover{
	transform: scale(1.007);
    transition-duration: 1.5s;
}

#celldiv{
	display: grid;
}

.num{
	font-family: League Spartan;
	font-size: 30pt;
	color: #FFFFFF;
	width: 150px;
}

.vertical{
	border-left: 2px solid #949494; 
    height: 250px; 
    left: 50%;
	margin: 0px 0px 0px -50px;
	border-radius: 2px;
}

.topimg{
	width: 500px;
	height: 250px;
}


#top10box{
	margin: 50px 0 0 230px;
	border: 20px solid #ddd;
}

.glow{
  font-size: 80px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}

.textonimage{
    position: relative;
    bottom: 500px;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 1160px;
    padding: 20px;
    height: 200px;
}

.categ a{
    position: relative;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #5975D9;
    color: white;
    text-decoration: none;
    box-shadow:inset 0.5em 0 black;
    -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 1s;
}

.categ a:hover{
    box-shadow:inset 2em 0 black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.categ h2{
    font-family: League Spartan;
    margin-left: 30px;
}

.indeximage{
    background-image: linear-gradient(to bottom, rgba(0,3,19,0),rgba(0,3,19,1));
    position: relative;
    left: -20px;
    width: 1190px;
    height: 350px;
}

/* Style the navigation links */
.buttn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;    
}

.buttn:hover {
  background-color: #ddd;
}

.buttn.active {
  background-color: #666;
  color: white;
}

.categ {
  margin-top: 20px;
  overflow: hidden;
}

.show {
  display: block;
}

.filterDiv {
  display: none;
  height: 50px;
}

.info {
	width: 200px;
	margin: 10px;
}


.info ul li a{
	height: 32px;
  	voice-family: "\"}\"";
  	voice-family: inherit;
  	height: 33px;
	text-decoration: none;
}

.info ul li a:link , .info ul li a:visited{
	color: #FFF;
	display: block;
	background:  url(/image/menu.gif);
	padding: 8px 0 0 35px;
}

.info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.info h1{
    margin-top: 0px;
}

.info h2{
    display: inline;
    font-weight: bold;
}

.info ul li a:hover{
	color: #FFF;
	background:  url(/image/menu.gif) 0 -32px;
	padding: 8px 0 0 35px;
}


/*chat css*/
/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

#textbox{
	width: 850px;
	border-style: solid;
	border-width: 30px;
	border-color:#B7B7B7;
	border-radius: 5px;
	margin-left: 30px
}

#response{
	width:1167px;
	background-color:#B7B7B7; 
	margin-top: 200px;
}

/*submit button*/

.submitbutton{
  border-radius: 4px;
  background-color: #3B3B3B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 100px;
}

.submitbutton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitbutton:hover span {
  padding-right: 25px;
}

.submitbutton:hover span:after {
  opacity: 1;
  right: 0;
}

/*footer animation css*/
body .footers {
  z-index: 1;
  --footer-background:rgba(255,255,255,1);
  display: grid;
  position: relative;
  min-height: 12rem;
  height: 100px;
}
body .footers .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  -webkit-filter: url("#blob");
          filter: url("#blob");
}

body .footers .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
body .footers .content {
  z-index: 2;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footers .content a, body .footers .content p {
  color: #000000;
  text-decoration: none;
}
body .footers .content b {
  color: white;
}
body .footers .content p {
  margin: 0;
  font-size: .75rem;
}
body .footers .content > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
body .footers .content > div > div {
  margin: 0.25rem 0;
}
body .footers .content > div > div > * {
  margin-right: .5rem;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 15% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

.footerz {
  position: absolute;
  width: 80%;
  height: 100px;
  left: 0px;
  background-color: #fffff;
  text-align: center;
}

.containerz{
  margin-top: 20px;
  color: #ffffff;
  width: 500px;
  position: absolute;
  left: 300px;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
/*end of footer css*/

.top10date { 
    background-color: aliceblue;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 150px;
    height: 30px;
    padding-top: 5px;
    margin-left: 500px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.top10date:hover{
    color: black;
    font-weight: bold;
}